openapi: 3.0.0
info:
  title: Articulation Agency API
  version: "20250515"
  description: The Articulation Agency API allows Agencies to manage their Client sites via an API.
servers:
  - url: https://api.articulationsites.com/
    description: Production API endpoint
paths:
  /agencies/{agencyId}/sites:
    get:
      summary: Lists all sites
      description: Returns a list of all sites for the agency.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      responses:
        '200':
          description: A list of sites.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/search:
    get:
      summary: Searches for a site
      description: Searches for a site by domain.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: domain
          in: query
          required: true
          description: The domain to search for.
          schema:
            type: string
      responses:
        '200':
          description: A list of matching sites.
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_term:
                    type: string
                    description: The search term used.
                  sites:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/create:
    post:
      summary: Creates a new site
      description: Creates a new site for the agency.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      requestBody:
        description: The details of the site to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: The domain of the new site.
                email:
                  type: string
                  description: The email address of the owner of the new site.
                plan:
                  type: string
                  description: The billing plan for the new site, if applicable.
                convert_from_weebly:
                  type: boolean
                  description: If true, we'll attempt to convert the given domain's site from a currently published Weebly site.
      responses:
        '201':
          description: The newly created site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}:
    get:
      summary: Lists a site by ID
      description: Returns a single site by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: A single site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
    patch:
      summary: Updates a site
      description: Updates a site's details.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to update.
          schema:
            type: string
      requestBody:
        description: The site details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  description: The new billing Plan for the site. Not required if ONLY changing/releasing Domain. You must have an active feature-matrix-capable Partner plan.
                  example: Ultimate
                domain:
                  type: string
                  description: The new Domain for the site. Not required if ONLY changing Plan, or releasing a domain.
                  example: example.com
                release_domain:
                  type: boolean
                  description: Releases the current Domain and unpublishes the site. Not required if either case above applies.
                domain_redirect:
                  type: string
                  description: Adds a new Domain redirect for the site.
                  example: another-domain.com
                release_domain_redirect:
                  type: string
                  description: Removes the given Domain from the site's redirected domains.
                  example: another-domain.com
      responses:
        '200':
          description: The updated site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
    delete:
      summary: Deletes a site
      description: Permanently deletes a disabled site from your account. This site MUST be disabled before calling this method.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to delete.
          schema:
            type: string
      responses:
        '204':
          description: Site was deleted successfully.
  /agencies/{agencyId}/sites/{siteId}/disable:
    put:
      summary: Disables a site
      description: Disables a site by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to disable.
          schema:
            type: string
      responses:
        '200':
          description: The disabled site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/enable:
    put:
      summary: Enables a site
      description: Enables a site by ID.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to enable.
          schema:
            type: string
      responses:
        '200':
          description: The enabled site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/publish:
    put:
      summary: Publishes a site
      description: Publishes the given site.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to publish.
          schema:
            type: string
      responses:
        '200':
          description: The published site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/unpublish:
    put:
      summary: Unpublishes a site
      description: Unpublishes the given site.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site to unpublish.
          schema:
            type: string
      responses:
        '200':
          description: The unpublished site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
  /agencies/{agencyId}/sites/{siteId}/send-login-link:
    post:
      summary: Sends a login link
      description: Sends a login link to the site's email address.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
        - name: siteId
          in: path
          required: true
          description: ID of the site.
          schema:
            type: string
      responses:
        '204':
          description: Login link sent successfully. Returns an empty array.
          content:
            application/json:
              schema:
                type: array
                items: {}
  /agencies/{agencyId}/plans:
    get:
      summary: Lists available plans
      description: Returns a list of available plans for the agency.
      parameters:
        - name: agencyId
          in: path
          required: true
          description: ID of your Agency.
          schema:
            type: string
      responses:
        '200':
          description: A list of available plans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  available_plans:
                    type: array
                    items:
                      type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Site:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the site.
        user_id:
          type: integer
          description: The Articulation user ID.
        email:
          type: string
          description: Email address associated with the site.
        plan:
          type: string
          description: The plan the site is subscribed to.
          example: Ultimate
        is_published:
          type: boolean
          description: Whether the site is published.
        is_disabled:
          type: boolean
          description: Whether the site is disabled.
        last_published:
          type: string
          format: date-time
          description: The last time the site was published.
        domain:
          type: string
          description: The domain of the site.
          example: example.com
        subdomain:
          type: string
          description: The subdomain of the site.
          example: example.articulation.website
        login_url:
          type: string
          description: The login URL for the site.
        domain_redirects:
          type: array
          description: Optional list of domains that redirect to this site.
          items:
            type: string
            description: Domain that redirects to the site.
    Agency:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the Agency.
